body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif
}

.block{
  display:block;
}
.none{
  display:none;
}

.wrap_card {
  display: inline-block;
}
.wrap_card img {
  display: block;
  max-height: 300px;
  max-width: 200px;
  margin: auto;
  width: auto;
  height: auto; }
